
@import url(https://fonts.googleapis.com/css/family=Quitsand:400,500&subset=latin-ext);

body {
	padding: 100px;
	background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
	text-align: center;
	font-family: Quicksand, sans-serif;
}

ul {
	margin-left: -45px;
}

li {
	list-style: none;
	display: inline-block;
}
.main {
	width: 800px;
	height: 520px;
	background-color: #fafafa;
	margin: 0 auto;
	padding-top: 20px;
	border-radius: 10px;
	border: 1px solid #eeeeeee;
}
.img {
	background-image: url(fz.jpg);
	background-color: #eaeaea;
	background-size: cover;
	border-radius: 100px;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: 1px solid #eaeaea;
}
h1 {
	text-align: center;
	font-size: 25px;
	margin: 0;
	font-weight: bold;
	color: #6944ff;
	font-family: Times New Roman, Times, serif;
}

.berak {
	word-spacing: 2px;
	line-height: 15px
	text-align: center;
	font-size: 20px;
	margin: 0;
	font-weight: bold;
	color: #324e63;
	font-family: Lucida Sans, Lucida Sans Reguler, Lucida Grande, Lucida Unicode, Geneva, Verdana, sans-serif;
}

p {
	margin: 0 auto;
	padding-top: 20px;
	width: 450px;
	height: auto;
	color: 324e63;
	font-size: 15px;
}

.hlo {
	font-family: Lucida Sans, Lucida Sans Reguler, Lucida Grande, Lucida Unicode, Geneva, Verdana, sans-serif;
	margin: 0;
	color: #370252;
}

.slmt {
	line-height: 10px;
	word-spacing: 2px;
	color: #00d95e;
	font-family: Lucida Sans, Lucida Sans Reguler, sans-serif;
	margin: 0;
}

.rkys {
	line-height: 10px;
	word-spacing: 2px;
	color: #8200d9;
	font-family: Lucida Sans, Lucida Sans Regulers, sans-serif;
}

.btn {
	background-color: black;
	border: 1px solid white;
	font-style: bold;
	font-family: Geneva, Verdana, sans-serif;
	width: 40px;
	height: auto;
	border-radius: 6px;
}